<!DOCTYPE html>
<html lang="vi">
    <head>
        <title>TKSaigon - In áo thun theo yêu cầu</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <link rel="shortcut icon" href="/favicon.ico">
        <link rel="stylesheet" type="text/css" href="/modules/client/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/modules/client/css/settings.css">
        <link rel="stylesheet" type="text/css" href="/modules/client/css/owl.carousel.css">
        <link rel="stylesheet" type="text/css" href="/modules/client/css/owl.transition.css">
        <link rel="stylesheet" type="text/css" href="/modules/client/css/jquery.custom-scrollbar.css">
        <link rel="stylesheet" type="text/css" href="/modules/client/css/styleswitcher.css">
        <link rel="stylesheet" type="text/css" href="/modules/client/css/style.css">
        <!-- FONT -->
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
        <script type="text/javascript" src="/modules/client/js/modernizr.js"></script>
        <!-- END FONT -->
    </head>
    <body>
        <div class="wide_layout relative w_xs_auto">
            <%- include partials/header.ejs %>
            <!-- SLIDER -->
            <section class="revolution_slider">
                <div class="r_slider">
                    <ul>
                        <li class="f_left" data-transition="curtain-1" data-slotamount="7" data-custom-thumb="/images/banner/banner1.jpg">
                            <img src="/images/banner/fw_banner1.jpg" alt="" data-bgrepeat="no-repeat" data-bgfit="cover" data-bgposition="center center">
                            <div class="caption sfl str f_size_large color_light tt_uppercase slider_title_3" data-x="736" data-y="97" data-speed="500" data-start="2500">Áo nam toàn áo</div>
                            <div class="caption sfr stl slider_divider" data-x="780" data-y="129" data-speed="500" data-start="2500"></div>
                            <div class="caption lft stb color_light slider_title tt_uppercase t_align_c" data-x="588" data-y="140" data-speed="1500" data-easing="easeOutBounce"><b>Mạnh mẽ &amp; Sành điệu<br>Tksaigon</b></div>
                            <div class="caption sft stb color_light" data-x="742" data-y="335" data-speed="900" data-start="2600">
                                <a href="/ao-thun/nam/vai-den" role="button" class="button_type_4 bg_scheme_color color_light r_corners tt_uppercase">
                                    Xem Ngay
                                </a>
                            </div>
                        </li>
                        <li class="f_left" data-transition="cube" data-slotamount="7" data-custom-thumb="/images/banner/banner2.jpg">
                            <img src="/images/banner/fw_banner2.jpg" alt="" data-bgrepeat="no-repeat" data-bgfit="cover" data-bgposition="center center">
                            <div class="caption sfb stt slider_divider type_2" data-x="298" data-y="153" data-speed="400" data-start="1700"></div>
                            <div class="caption lft ltb color_light slider_title tt_uppercase t_align_c" data-x="95" data-y="170" data-speed="500" data-easing="ease" data-start="1400"><b><span class="scheme_color">Xuân hè 2016</span><br><span class="color_light">Duyên dáng</span></b></div>
                            <div class="caption lfb ltt color_light" data-x="132" data-y="318" data-speed="500" data-start="1700">
                                <a href="/ao-thun/nu/vai-den" role="button" class="button_type_4 bg_scheme_color color_light r_corners tt_uppercase">Xem ngay nào</a>
                            </div>
                        </li>
                        <!--<li class="f_left" data-transition="cube" data-slotamount="7" data-custom-thumb="/images/banner/banner3.jpg">
                            <img src="/images/banner/fw_banner3.jpg" alt="" data-bgrepeat="no-repeat" data-bgfit="cover" data-bgposition="center center">
                            <div class="caption sfb stb color_light" data-x="center" data-y="352" data-speed="1000" data-start="2900">
                                <a href="#" role="button" class="button_type_4 bg_scheme_color color_light r_corners tt_uppercase">Tự thiết kế ngay</a>
                            </div>
                        </li>-->
                    </ul>
                </div>
            </section>
            <!-- END SLIDER -->
            <!-- CONTENT -->
            <div class="page_content_offset">
                <div class="container">
                    <!--banners-->
                    <div class="row clearfix m_xs_bottom_30">
                        <div class="col-lg-4 col-md-4 col-sm-4 m_bottom_50 m_xs_bottom_0">
                            <a class="d_block animate_ftb h_md_auto m_xs_bottom_15 banner_type_2 r_corners red t_align_c tt_uppercase vc_child n_sm_vc_child">
                                <span class="d_inline_middle">
                                    <img class="d_inline_middle m_md_bottom_5" src="/images/banner/banner_img_3.png" alt="">
                                    <span class="d_inline_middle m_left_10 t_align_l d_md_block t_md_align_c">
                                        <b>100% Hài lòng</b><br><br><span class="color_dark">Bảo đảm</span>
                                    </span>
                                </span>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <a href="#" class="d_block animate_ftb h_md_auto m_xs_bottom_15 banner_type_2 r_corners green t_align_c tt_uppercase vc_child n_sm_vc_child">
                                <span class="d_inline_middle">
                                    <img class="d_inline_middle m_md_bottom_5" src="/images/banner/banner_img_4.png" alt="">
                                    <span class="d_inline_middle m_left_10 t_align_l d_md_block t_md_align_c">
                                        <b>Free Ship</b><br><br><span class="color_dark">Khi chờ 1 tuần</span>
                                    </span>
                                </span>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <a href="#" class="d_block animate_ftb h_md_auto banner_type_2 r_corners orange t_align_c tt_uppercase vc_child n_sm_vc_child">
                                <span class="d_inline_middle">
                                    <img class="d_inline_middle m_md_bottom_5" src="/images/banner/banner_img_5.png" alt="">
                                    <span class="d_inline_middle m_left_10 t_align_l d_md_block t_md_align_c">
                                        <b>Cộng Tác</b><br><br><span class="color_dark">Click Ngay!</span>
                                    </span>
                                </span>
                            </a>
                        </div>
                    </div>
                    <!--end banners-->
                    <!--new products-->
                    <div class="row clearfix m_bottom_45 m_md_bottom_35 m_xs_bottom_30">
                        <div class="clearfix">
                            <h2 class="color_dark tt_uppercase f_left m_bottom_15 f_mxs_none heading5 animate_ftr">Mới Nhất</h2>
                            <div class="f_right clearfix nav_buttons_wrap f_mxs_none m_mxs_bottom_5 animate_fade">
                                <button class="button_type_7 bg_cs_hover box_s_none f_size_ex_large t_align_c bg_light_color_1 f_left tr_delay_hover r_corners bestsellers_prev"><i class="fa fa-angle-left"></i></button>
                                <button class="button_type_7 bg_cs_hover box_s_none f_size_ex_large t_align_c bg_light_color_1 f_left m_left_5 tr_delay_hover r_corners bestsellers_next"><i class="fa fa-angle-right"></i></button>
                            </div>
                        </div>
                        <div class="bestsellers_carousel m_bottom_30 m_xs_bottom_15">
                            <% news.forEach(function(design){ %>
                                <figure class="r_corners photoframe shadow relative tr_all_hover animate_ftb long">
                                    <a href="/ao-thun/<%= design.sex %>/<%= design.type %>/<%= design.seo %>" class="d_block relative pp_wrap">
                                        <img src="/images/items/<%= design.image %>_350.jpeg" class="tr_all_hover" alt="">
                                    </a>
                                    <figcaption>
                                        <h5 class="m_bottom_10">
                                            <a href="" class="color_dark ellipsis"><%= design.name %></a>
                                        </h5>
                                        <a class="button_type_4 bg_scheme_color r_corners tr_all_hover color_light mw_0" href="/ao-thun/<%= design.sex %>/<%= design.type %>/<%= design.seo %>">Xem chi tiết</a>
                                    </figcaption>
                                </figure>
                            <% }); %>
                        </div>
                    </div>
                    <!-- end new products -->
                    <!-- many loves -->
                    <!--new products-->
                    <div class="row clearfix m_bottom_45 m_md_bottom_35 m_xs_bottom_30">
                        <div class="clearfix">
                            <h2 class="color_dark tt_uppercase f_left m_bottom_15 f_mxs_none heading5 animate_ftr">Yêu thích nhất</h2>
                            <div class="f_right clearfix nav_buttons_wrap f_mxs_none m_mxs_bottom_5 animate_fade">
                                <button class="button_type_7 bg_cs_hover box_s_none f_size_ex_large t_align_c bg_light_color_1 f_left tr_delay_hover r_corners love_prev"><i class="fa fa-angle-left"></i></button>
                                <button class="button_type_7 bg_cs_hover box_s_none f_size_ex_large t_align_c bg_light_color_1 f_left m_left_5 tr_delay_hover r_corners love_next"><i class="fa fa-angle-right"></i></button>
                            </div>
                        </div>
                        <div class="love_carousel m_bottom_30 m_xs_bottom_15">
                            <% loves.forEach(function(design){ %>
                                <figure class="r_corners photoframe shadow relative tr_all_hover animate_ftb long">
                                    <a href="/ao-thun/<%= design.sex %>/<%= design.type %>/<%= design.seo %>" class="d_block relative pp_wrap">
                                        <img src="/images/items/<%= design.image %>_350.jpeg" class="tr_all_hover" alt="">
                                    </a>
                                    <figcaption>
                                        <h5 class="m_bottom_10">
                                            <a href="" class="color_dark ellipsis"><%= design.name %></a>
                                        </h5>
                                        <div class="clearfix">
                                            <p class="f_left m_bottom_15">
                                                <button class="button_type_4 bg_light_color_2 tr_all_hover r_corners color_dark mw_0 p_hr_0">
                                                    <i class="fa fa-heart-o"></i>
                                                </button>&nbsp;<%= design.love %> Yêu Thích
                                            </p>
                                        </div>
                                        <a href="/ao-thun/<%= design.sex %>/<%= design.type %>/<%= design.seo %>" class="button_type_4 bg_scheme_color r_corners tr_all_hover color_light mw_0">Xem chi tiết</a>
                                    </figcaption>
                                </figure>
                            <% }); %>
                        </div>
                    </div>
                    <!-- end loves -->
                    <!-- views -->
                    <div class="row clearfix m_bottom_45 m_md_bottom_35 m_xs_bottom_30">
                        <div class="clearfix">
                            <h2 class="color_dark tt_uppercase f_left m_bottom_15 f_mxs_none heading5 animate_ftr">Mua Nhiều Nhất</h2>
                            <div class="f_right clearfix nav_buttons_wrap f_mxs_none m_mxs_bottom_5 animate_fade">
                                <button class="button_type_7 bg_cs_hover box_s_none f_size_ex_large t_align_c bg_light_color_1 f_left tr_delay_hover r_corners views_prev"><i class="fa fa-angle-left"></i></button>
                                <button class="button_type_7 bg_cs_hover box_s_none f_size_ex_large t_align_c bg_light_color_1 f_left m_left_5 tr_delay_hover r_corners views_next"><i class="fa fa-angle-right"></i></button>
                            </div>
                        </div>
                        <div class="views_carousel m_bottom_30 m_xs_bottom_15">
                            <% views.forEach(function(design){ %>
                                <figure class="r_corners photoframe shadow relative tr_all_hover animate_ftb long">
                                    <a href="/ao-thun/<%= design.sex %>/<%= design.type %>/<%= design.seo %>" class="d_block relative pp_wrap">
                                        <img src="/images/items/<%= design.image %>_350.jpeg" class="tr_all_hover" alt="">
                                    </a>
                                    <figcaption>
                                        <h5 class="m_bottom_10">
                                            <a href="/ao-thun/<%= design.sex %>/<%= design.type %>/<%= design.seo %>" class="color_dark ellipsis"><%= design.name %></a>
                                        </h5>
                                        <a class="button_type_4 bg_scheme_color r_corners tr_all_hover color_light mw_0" href="/ao-thun/<%= design.sex %>/<%= design.type %>/<%= design.seo %>">Xem chi tiết</a>
                                    </figcaption>
                                </figure>
                            <% }); %>
                        </div>
                    </div>
                    <!-- end views -->
                </div>
            </div>
            <!-- END CONTENT -->
            <%- include partials/footer.ejs %>
        </div>

        <script type="text/javascript" src="/modules/client/js/jquery-2.1.0.min.js"></script>
        <script type="text/javascript" src="/modules/client/js/retina.js"></script>
        <script type="text/javascript" src="/modules/client/js/jquery.isotope.min.js"></script>
        <script type="text/javascript" src="/modules/client/js/jquery.themepunch.plugins.min.js"></script>
        <script type="text/javascript" src="/modules/client/js/jquery.themepunch.revolution.min.js"></script>
        <script type="text/javascript" src="/modules/client/js/waypoints.min.js"></script>
        <script type="text/javascript" src="/modules/client/js/owl.carousel.min.js"></script>
        <script type="text/javascript" src="/modules/client/js/jquery.tweet.min.js"></script>
        <script type="text/javascript" src="/modules/client/js/jquery.custom-scrollbar.js"></script>
        <script type="text/javascript" src="/modules/client/js/scripts.js"></script>
    </body>
</html>